@charset "utf-8";

/*----第一屏----*/
.home { position:relative; background-color:#f4f4f4; }
.home img { position:absolute; top:50%; left:50%; margin-left:-512px; margin-top:-384px; opacity:0.8; }
.box { position:relative; z-index:1; top:300px; padding:10px; background-color:#ffdf00; opacity:0; }
.name, .profession { text-align:center; }
.name { font-size:56px;}
.profession { font-size:30px; }

/*----第二屏----*/
.options { position:relative; height:100%; margin:0 auto; padding:0 15px; }
.header { width:60%; text-align:center; margin:60px auto 20px; padding-bottom:20px; border-bottom:1px solid #ddd; opacity:0; }
.header h2 { padding-bottom:10px; font-size:42px; font-weight:200; }
.header span { font-size:14px; }
.row { overflow:hidden; margin:0 -15px; }
.col { padding:0 15px; box-sizing:border-box; }
.thumbnail { max-width:310px; margin:0 auto; margin-bottom:30px; margin-top:60px; opacity:0; padding:4px; border:1px solid #ddd; text-align:center; box-sizing:border-box; }
.thumbnail img { display:block; margin:0 auto; max-width:100%; height:auto; }
.thumbnail h3, .thumbnail p { display:none; }
.thumbnail h3 { margin:20px 0; font-size:24px; font-weight:500; }

@media (min-width: 768px)
{
	.options { width:750px; }
	.col { width:50%; float:left; }
	.thumbnail { height:280px; }
	.thumbnail h3, .thumbnail p { display:block; }
}

@media (min-width: 992px)
{
	.options { width:970px; }
	.col { float:left; width:33.33333333%; }
}

@media (min-width: 1200px)
{
	.options { width:1170px; }
}

.copyright { position:absolute; bottom:40px; left:0; width:100%; text-align:center; }
.copyright a { color:#777; }


